.nav {
  display: flex;
  align-content: center;
  align-items: center;
  a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;

    & .active {
      background-color: rgb(7, 207, 90);
    }

    &:hover {
      background-color: #FFF;
      color: #333;
    }
  }
}